# vim: ft=gitconfig

[user]
    name = Michael Vilim
    email = {{ .email }}
[core]
    editor = nvim
    pager = less -FXR
    autocrlf = false
[push]
    followTags = true
    default = simple
[pull]
    rebase = true
[merge]
    tool = nvim
[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[alias]
    co = checkout
    br = branch -vv
    brr = branch -vv -r
    st = status
    a = add
    au = add -u
    ad = add .
    c = commit
    cm = commit -m
    ca = commit --amend
    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue
    d = diff
    pl = pull
    ps = push
    rs = reset
    rv = revert
    rb = rebase
    rbi = rebase -i
    rbe = rebase --edit-todo
    rba = rebase --abort
    rbc = rebase --continue
    rbs = rebase --skip
    rt = remote -v
    i = init
    l = log --decorate
    lg = log --decorate --graph --topo-order
    lb = log --decorate --graph --branches
    sh = stash
    shp = stash pop
    ta = tag -m "" -a
    tam = tag -a -m
    td = tag -d
    mt = mergetool
[rerere]
    enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
