sourceDir = "/home/mvilim/repos/dotfiles"
[data]
    # place local templates into .chezmoitemplates/local
    has_local_templates = true
    email = "michael.vilim@gmail.com"
    repo_dir = "/home/mvilim/repos"
[diff]
    pager = ""
