[Unit]
Description=RTags daemon

Requires=rdm.socket

[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/local/bin/rdm -v --inactivity-timeout 300 --log-flush --isystem=$(clang -print-resource-dir)/include"
ExecStartPost=/bin/sh -c "echo +19 > /proc/$MAINPID/autogroup"
Nice=19
CPUSchedulingPolicy=idle

[Install]
WantedBy=multi-user.target
